<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name></display-name>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RegistServlet</servlet-name>
    <servlet-class>cn.itcast.web.RegistServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>cn.itcast.web.LoginServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ListServlet</servlet-name>
    <servlet-class>cn.itcast.web.ListServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>cn.itcast.web.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegistServlet</servlet-name>
    <url-pattern>/RegistServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListServlet</servlet-name>
    <url-pattern>/ListServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>downServlet</display-name>
    <servlet-name>downServlet</servlet-name>
    <servlet-class>cn.itcast.web.downServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>downServlet</servlet-name>
    <url-pattern>/downServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>dowm1Servlet</display-name>
    <servlet-name>dowm1Servlet</servlet-name>
    <servlet-class>cn.itcast.web.dowm1Servlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dowm1Servlet</servlet-name>
    <url-pattern>/dowm1Servlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>hostipalServlet</display-name>
    <servlet-name>hostipalServlet</servlet-name>
    <servlet-class>cn.itcast.web.hostipalServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>hospitalServlet</servlet-name>
    <servlet-class>cn.itcast.web.hospitalServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>guahaoServlet</servlet-name>
    <servlet-class>cn.itcast.web.guahaoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>recordServlet</servlet-name>
    <servlet-class>cn.itcast.web.recordServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>OpenServlet</servlet-name>
    <servlet-class>cn.itcast.web.OpenServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>ManageServlet</servlet-name>
    <servlet-class>cn.itcast.web.ManageServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>DoServlet</servlet-name>
    <servlet-class>cn.itcast.web.DoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RhospitalServlet</servlet-name>
    <servlet-class>cn.itcast.web.RhospitalServlet</servlet-class>
  </servlet>







  <servlet-mapping>
    <servlet-name>hostipalServlet</servlet-name>
    <url-pattern>/hostipalServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>hospitalServlet</servlet-name>
    <url-pattern>/hospitalServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>guahaoServlet</servlet-name>
    <url-pattern>/guahaoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>recordServlet</servlet-name>
    <url-pattern>/recordServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OpenServlet</servlet-name>
    <url-pattern>/OpenServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ManageServlet</servlet-name>
    <url-pattern>/ManageServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DoServlet</servlet-name>
    <url-pattern>/DoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RhospitalServlet</servlet-name>
    <url-pattern>/RhospitalServlet</url-pattern>
  </servlet-mapping>
</web-app>